{% extends 'base.html' %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
{% if validlink %}
  {% with card_header_text='Введите новый пароль' button_text='Войти' password_reset_link=True %}
    {% include 'users/includes/form.html' %}
  {% endwith %}
{% else %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">Ошибка</div>
        <div class="card-body">
          <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endif %}
{% endblock %}
